<div class="container">
  <h1 class="main-title animate__animated animate__fadeIn">
    Angular<span class="main-title-hub">Hub</span>
  </h1>

  <div class="container container-main animate__animated animate__backInLeft">
    <p>Informe o nome de usuário do github a ser buscado:</p>
    <input
      id="username-input"
      type="text"
      name="username"
      [(ngModel)]="username"
      placeholder="Username"
    />
    <button routerLink="{{ username }}" type="button" class="btn">
      Buscar
    </button>
  </div>
</div>
