.main-title {
  text-align: center;
  font-size: xxx-large;
  margin-bottom: 2em;
}

.main-title-hub {
  color: brown;
}

.container-main {
  display: flex;
  flex-direction: column;
}

#username-input {
  margin-top: 0.4em;
  border: thin solid #333;
  padding: 0.5em 0.4em;
  width: 100%;
  font-size: large;
  border-radius: 0.7em;
}

.btn {
  border: none;
  background-color: brown;
  color: antiquewhite;
  font-size: x-large;
  text-align: center;
  margin: 1em auto;
  border-radius: 0.3em;
  padding: 0.5em 1em;
  cursor: pointer;
}
